<html>

<h1>Benvenuto! Prenota la tua vacanza negli states</h1>
<form method="POST">
    <p>
        <label for="first_name">Nome</label>
        <input type="text" name="first_name">
    </p>
    <p>
        <label for="last_name">Cognome</label>
        <input type="text" name="last_name">
    </p>
    <p>
        <label for="depart_date">Partenza</label>
        <input type="date" name="depart_date">
    </p>
    <p>
        <label for="return_date">Ritorno</label>
        <input type="date" name="return_date">
    </p>
    <input type="submit" value="Prenota">
</form>

</html>